<main>
  <div class = "container px-5 px-sm-0">
     <h4 class = "New Registration">
        商品編集
      </h4>
      <%= form_with model: @item, url: admin_items_path, local:true do |f| %>
      <div class = "row">
        <div class = "col-md-8 offset-md-3">
          <table>
            <tr>
              <td>商品画像</td>
              <td class = "between">
                <%= f.attachment_field :image, placeholder: "商品画像" %>
              </td>
            </tr>
            <tr>
              <td>商品名</td>
              <td class = "between">
                <%= f.text_field :name, size: "40x5", autofocus: true, id:"inputName" %>
              </td>
            </tr>
            <tr>
              <td>商品説明</td>
              <td class = "between">
                <%= f.text_area :description, size: "40x5", autofocus: true, id:"inputDescription" %>
              </td>
            </tr>
            <tr>
              <td>ジャンル</td>
              <td class = "between">
                <%= f.collection_select :genre_id, @genre, :id, :name,{ prompt: "--選択してください--" }  %>
                <!--f.collection_select :prefecture, @prefecture, :id, :name, { prompt: "選択してください" } -->
                 <!--f.collection_select カラム名(itemに登録されているカラム), 要素の配列, value属性の項目, テキストの項目, { prompt: "選択してください" }-->
              </td>
            </tr>
            <tr>
              <td>税抜価格</td>
              <td class = "between">
                <%= f.text_field :price, size: "40x5", autofocus: true, id:"inputPrice" %>円
              </td>
            </tr>
            <tr>
              <td>販売ステータス</td>
              <td class = "between">
                <%= f.radio_button :is_active, :true %>
                <%= f.label :is_active, "販売中", {value: :true, style: "display: inline-block;"} %>
                <%= f.radio_button :is_active, :false %>
                <%= f.label :is_active, "販売停止中", {value: :false, style: "display: inline-block;"} %>
              </td>
            </tr>
            <td>
                <%= f.submit '新規登録', class: "btn btn-success" %>
            </td>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</main>