<div class="container">
  <div class="row">
    <div class="col">
      <h6>配送先登録/一覧</h6>
    </div>
  </div>
  
  <%= form_with model:@address, url: public_addresses_path, local:true do |f| %>
  <div class="row">
    <div class="col-3">郵便番号（ハイフンなし）</div>
    <div class="col-3"><%= f.text_field :postal_code, placeholder: "0000000" %></div>
  </div>
    
  <div class="row">
    <div class="col-3">住所</div>
    <div class="col-5"><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0" %></div>
  </div>
    
  <div class="row">
    <div class="col-3">宛名</div>
    <div class="col-3"><%= f.text_field :name, placeholder: "令和道子" %></div>
    <div class="col-3 col-offset-3"><%= f.submit '新規登録', class: "btn btn-success" %></div>
  </div>
  <% end %>
    
    
  <div class="row">
    <div class="col-md-9">
    <table class="table table-bordered">
      <colgroup>
        <col style="width:20%">
        <col style="width:20%">
        <col style="width:20%">
        <col style="width:20%">
        <col style="width:20%">
      </colgroup>
      <thead class="thead-light">
        <tr>
          <th colspan="1">郵便番号</th>
          <th colspan="2">住所</th>
          <th colspan="1">宛名</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      
      <tbody>
        <% @addresses.each do |a| %>
        <tr>
          <td colspan="1"><%= a.postal_code %></td>
          <td colspan="2"><%= a.address %></td>
          <td colspan="1"><%= a.name %></td>
          <td colspan="1">
            <%= link_to '編集する', edit_public_address_path(a.id), class: "btn btn-success" %>
            <%= link_to '削除する', public_address_path(a.id), method: :delete, class: "btn btn-danger" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>

</div>